body{
    margin: 0;
    padding: 0;

}
.container{
    text-align: center;
}

.bloc-title{
    position: sticky;
    margin: 200px 200px;
}
.bloc-title h1{
    font-size: 60px;
}
.bloc-title .value{
    font-size: 70px;
    padding-bottom: 20px;
}
